@import "tailwindcss";

@keyframes slideIn {
  from { opacity: 0; transform: translateX(100%) scale(0.95); }
  to { opacity: 1; transform: translateX(0) scale(1); }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "DM Sans", sans-serif;
  --font-button: "Space Grotesk", sans-serif;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-sans);
}
